@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap');
.App {
  background-color: #f0f0f0;
  height: 100%;
  width: 100%;
}
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background-color: #f0f0f0;
}
body {
  padding-top: 200px; /* Same or slightly more than the nav height */
}

h1 {
  width: 973px;
  height: 98px;
  flex-shrink: 0;
  color: #2a4849;
  text-align: center;
  font-family: Inter;
  font-size: 82px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
h2 {
  width: 855px;
  height: 97px;
  flex-shrink: 0;
  color: #2A4849;
  text-align: center;
  font-family: Inter;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

p{
  flex-shrink: 0;
  color: #8BB174;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}