.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2A4849;
    padding: 10px;
}
.nav-logo{
    width: 160px;
    cursor: pointer;
}
.nav-menu{
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap: 90px;
    color: #fff
}
.nav-enter{
    color: #fff;
}
