.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2A4849;
    height: 60px;
    width: 100vw;   
    max-width: 100%;          
    margin: 0;              
    padding: 0 1rem;
    box-sizing: border-box;
    position: relative;
    z-index: 1;
  }
  
  .footer-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 18px;
    color: #fff;
    margin: 0;
    padding: 0;
  }
  
  .footer-enter:link,
  .footer-enter:visited,
  .footer-enter:active {
    color: #fff;
    text-decoration: none;
  }
  
  .footer-enter:hover {
    background-color: #182C2D;
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
    border-radius: 4px;
  }
  
