.dashboard {
    display: flex;
    justify-content: center;
    width: 100%;
}

.leadercontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.leader_dash_title{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.leader_dash_hello h1{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 0;
    padding-top: 0;
}
.leader_dash_play h1{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 60px;
    padding-top: 30px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.leader_dash_title h1{
    font-size: 3.7rem;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

.leader_dash_label {
    display: flex;
    justify-content: center;
    margin: 10px 5;
  }
  
  .label_row {
    display: flex;
    justify-content: center;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px;
    box-sizing: border-box;
    gap: 200px;
    flex-wrap: nowrap;
  }
  
  .label_column {
    flex: 1;
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    color: #333;
    flex-wrap: nowrap;
    padding-top: 0;
    margin-top:0;
  }
  
  .leaderboard_scroll {
    max-height: 250px;
    overflow-y: auto;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    border: 1px solid #182c2d;
    padding: 10px;
    box-sizing: border-box;
    background-color: #2a4849;
  }
  
  .data_row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    gap: 250px;
    margin-bottom: 10px;
    background-color: #8BB174;
    border: 1px solid #182c2d;
}
  
  .data_column {
    flex: 1;
    text-align: center;
    font-size: 1.1rem;
    color: #FFFFFF;
    white-space: nowrap;
  }

  .click_to_play_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 150px;
    margin-top: 40px;
    padding-top: 10px;
    padding-bottom: 60px;
    margin-bottom: 30px;
  }

  .practice_button{
    border-radius: 36px;
    border-color:#2a4849;
    background-color:  #8BB174;
    width: 300px;
    height: 100px;
    flex-shrink: 0;
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .practice_button:hover{
    border-radius: 36px;
    background-color: #182C2D;
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
  }

  .match_button{
    border-radius: 36px;
    border-color:#2a4849;
    background-color:  #8BB174;
    width: 300px;
    height: 100px;
    flex-shrink: 0;
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }

  .match_button:hover{
    border-radius: 36px;
    background-color: #182C2D;
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
  }