.profile-box {
    padding: 11px;
    font-family: sans-serif;
  }
/* allows for us to have the left and right column */
.content-row{
    display: flex;
}
/* Title */
.page-title {
    width: 100%;
    /* border: 8px solid black; remove later */
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.name_line {
    width: 25%;
    height: 2px;
    margin: 10px 5px 0px 5px;
    background-color: #426B69;
}

.instructions {
    margin-top: 20px;
    /* border: 8px solid red; for debugging */
    text-align: left;
}
  
.instruction-steps {
  list-style-type: decimal; /* list */
  padding-left: 100px;
  margin-left: 0;
}

.instruction-steps li {
  font-size: 32px;
  color: #8BB174;
  margin-bottom: 8px;
  line-height: 1.6;
}

@media (max-width: 768px) {
    .instruction-steps {
      padding-left: 60px;
    }
  .instruction-steps li {
    font-size: 1.2rem;
  }
} 