.LeaderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
    padding-bottom: 40px;
}

.leader_global_title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.leader_global_title h1{
  font-size: 65px;
}
.label_row,
.data_row {
  display: grid;
  grid-template-columns: 2fr 1fr 1.1fr 2fr; /* use consistent ratios */
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px 0;
  box-sizing: border-box;
  text-align: center;
}

.label_row {
  font-weight: bold;
  font-size: 18px;
  background-color: #2a4849;
  color: white;
  border-bottom: 2px solid #8BB174;
}

.data_row {
  font-size: 16px;
  color: white;
  border-bottom: 1px solid #ddd;
}

.label_row span,
.data_row span {
  padding: 0 5px;
  margin: 0;
  overflow-wrap: break-word;
}

  .leaderboard_global_scroll {
    max-height: 250px;
    overflow-y: auto;
    width: 100%;
    max-width: 1000px;
    margin: 10px auto;
    border: 1px solid #182c2d;
    padding: 10px;
    box-sizing: border-box;
    background-color: #2a4849;
  }
