/* Container */
.LeaderContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin-bottom: 40px;
}

/* Title */
.leader_global_title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  text-align: center;
}

.name_line {
  width: 25%;
  height: 2px;
  margin: 10px 5px 0px 5px;
  background-color: #426B69; /* Line color for header*/
}

.leader_global_title h1 {
  font-size: 3rem;
  margin: 0 10px;
}
.table_container {
  width: 100%;
  max-width: 1000px;
}

/* Scrollable Leaderboard */
.leaderboard_global_scroll {
  overflow-x: auto;
  background-color: #2a4849; /* Background color */
  border-radius: 10px;
  padding: 10px;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  color: white; /* Text color  */
  background-color: #8BB174;
  text-align: center;
  min-width: 600px;
}

thead {
  background-color: #2a4849; /* Header background color */
  border-bottom: 2px solid #8BB174; /* Header bottom border color */
}

th, td {
  padding: 12px 8px;
}

tbody tr {
  border-bottom: 2px solid #2a4849; /* the outline line color */
}

tbody tr:last-child {
  border-bottom: none;
}

span {
  display: inline-block;
  width: 100%;
  text-align: center;
}

/* Responsive Design */
@media (max-width: 768px) {
  .page-title h1 {
    font-size: 2rem;
  }

  th, td {
    padding: 10px 6px;
    font-size: 0.9rem;
  }

  .name_line {
    width: 15%;
  }
  table {
    min-width: unset;
    font-size: 0.85rem;
  }

  .leaderboard_global_scroll {
    padding: 5px;
  }
}

@media (max-width: 480px) {
  .page-title h1 {
    font-size: 1.5rem;
  }

  th, td {
    font-size: 0.8rem;
    padding: 6px 3px;
  }

  .name_line {
    width: 10%;
  }
}