/* CSS for Login in page */

/* CSS for the main div, which has the class name "login_div" */
.loginDiv {
    text-align: center;
}

/* CSS for the div containing the input text boxes which has the class name "input_div" */
.inputDiv {
    width: 400px;
    margin: auto;
}

/* CSS for the submit buttons on the login page. May want to move this to index.css? */
.submitButton {
    width: 234px;
    height: 43px;
    background-color: #8BB174;
    border: 3px solid #2A4849;
    color: white;
    font-size: 30px;
    margin-top: 20px;
}

.submitButton:hover {
    background-color: #d7e3ce
}

/* CSS for the input textboxes, which have the class "text_input" */
.textInput {
    display: block;
    font-family: Inter;
    padding: 15px 10px;
    width: 90%;
    margin-bottom: 40px;
    border: 3px solid #2A4849
}

/* CSS for password input box to override the bottom margin */
#password {
    margin-bottom: 10px;
}

/* CSS for the bash image */
.logo {
    width: 265px;
    height: auto;
    margin-bottom: 2em;
}

/* CSS for the Forget Password hyperlink */
.forgetPassLink {
    display: block;
    font-family: Inter;
    font-size: 20;
    color: #426B69;
    text-align: left;
    margin-bottom: 40px;
}

.forgetPassLink:visited {
    color: #1d2f2f;
}

/* CSS for the labels, May want to move them to index.css later */
.inputLabel {
    display: block;
    text-align: left;
    font-family: Inter;
    font-style: normal;
    font-size: 20;
    margin-bottom: 5px;
    color: #426B69;
}
