.question_bank_categories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}
.question_bank_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}

.question_bank_container h1{
  font-size: 3.7rem;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    margin-bottom: 20px;
}

.question_bank_container p{
    font-size: 2.0rem;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    margin-bottom: 20px;
}

.category_section{
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 7fr));
  padding: 0;
  gap: 50px;
  margin-top: 40px;
  column-gap: 80px;
  margin-bottom: 40px;
}

.category_1,
.category_2,
.category_3,
.category_4 {
    border-radius: 36px;
    border-color:#2a4849;
    background-color:  #8BB174;
    width: 300px;
    height: 100px;
    flex-shrink: 0;
    color: #FFFFFF;
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}


.category_1:hover,
.category_2:hover,
.category_3:hover,
.category_4:hover {
    border-radius: 36px;
    background-color: #2a4849;
    color: #fff;
    text-decoration: none;
    padding: 4px 8px;
  }
